{
	"appId":"ONEX68C907B131337",
	"appKey":"ONEX68C907B131337_ANDROID",
	"base64Code":"",
	"packageName":"com.vdd.v1",
	"rootPath":"mpaas/android/ONEX68C907B131337-carlos",
	"workspaceId":"carlos",
	"syncport":"443",
	"syncserver":"mpaas-mss.aliyuncs.com",
	"logGW":"https://mpaas-mas-loggw.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"mpaas-mps.aliyuncs.com",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"rpcGW":"https://mpaas-mgs.aliyuncs.com/mgw.htm"
}